img{
    width: 100%;
    height: 20%;
    padding-top: 5%;
}
#unnie{
    text-align: center;
    font-size: 25px;
}
#aws{
    color: white;
    font-size: 22px;
    float: left;
}
.colr{
    color:white;
}
#cap{
    color: rgb(63, 61, 61);
    font-size: 44px;
    float: left;
    padding-left: 10%;
}
h2{
    color: rgb(63, 61, 61);
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.course{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    color:rgb(150, 73, 73);
    text-decoration: none;
}
#comp{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:15px;
    color:rgb(150, 73, 73);
}
#card{
    width: 85%;
}
#card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.877);
}
#card2{
    margin-top: 3%;
    width: 85%;
}
#card2:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.877);
}
#case{
    color: rgb(63, 61, 61);
    font-size: 44px;
    float: left;
    padding-left: 14%;
}
.desc{
    margin-top: 2%;
    padding-left: 4%;
    font-size: 80%;
}
#block{
    margin-top: 5%;
}